[submodule "dotfiles"]
	path = dotfiles
	url = https://github.com/ahmadassaf/dotfiles

[submodule "gitignore"]
	path = gitignore
	url = https://github.com/github/gitignore

[submodule "bash-it"]
	path = bash-it
	url = https://github.com/ahmadassaf/bash-it

[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/ahmadassaf/oh-my-zsh

[submodule "Themes"]
	path = Themes
	url = https://github.com/ahmadassaf/themes

