[submodule "dotfiles"]
	path = dotfiles
	url = https://github.com/ahmadassaf/dotfiles

[submodule "gitignore"]
	path = gitignore
	url = https://github.com/ahmadassaf/gitignore

[submodule "bash-it"]
	path = bash-it
	url = https://github.com/ahmadassaf/bash-it

[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/ahmadassaf/oh-my-zsh

[submodule "powerline-fonts"]
	path = powerline-fonts
	url = https://github.com/ahmadassaf/powerline-fonts